/* ================
fonts
==================*/
@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(../fonts/Poppins-Regular.ttf) format(truetype);
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(../fonts/Poppins-Medium.ttf) format(truetype);
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(../fonts/Poppins-SemiBold.ttf) format(truetype);
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(../fonts/Poppins-Bold.ttf) format(truetype);
  font-weight: 700;
}



/* ===================================
base styles
==================================== */
* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;

}

:root {
  --var-white: #ffffff;
  --var-black: #616368;
  --var-navyblue: #242f51;
  --var-navyblue-1: #09142e;
  --var-violet: #2500f9;
  --var-blue: #2563ff;
  --var-green: #40975f;
  --var-red: #f55767;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

h3 {
  color: var(--var-navyblue);
  font-weight: 600;
}

p {
  color: var(--var-black);
  margin: 0;
}

ul {
  list-style: none;
}

/* ===================================
header
==================================== */
.navbar-brand,
.navbar-brand span {
  font-size: 30px;
  font-weight: bold;
}

.nav-item {}

.nav-link {
  font-size: 16px;
  color: var(--var-navyblue);
}


.explore-btn {
  background-color: var(--var-violet);
  font-size: 16px;
  color: var(--var-white);
  border-radius: 50px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: inline-block;
}

.explore-btn:hover {
  background-color: var(--var-violet);
  color: #f0eded;
}

/* ===================================
hero section
==================================== */
.hero-bg {
  background: var(--var-white);
  background-image: url(../img/hero-bg.png);
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.hero-img img {
  max-height: 700px;
}

.hero-badge {
  text-decoration: none;
  background-color: #E2EAED;
  color: var(--var-navyblue);
  padding: .4rem 1.5rem .4rem 0;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: .5rem;
  display: inline-block;
}

.hero-title {
  font-size: 60px;
  font-weight: 600;
}

.hero-btn-grp a:last-of-type {
  color: var(--var-blue);
}

/* ===================================
companies section
==================================== */
.companies-logo a img {
  width: 100%;
  padding: 0 1rem;
}

/* ===================================
feature section
==================================== */
.feature-img img {
  width: 100%;
  max-height: 770px;
}

/* ===================================
smart section
==================================== */
.smart-heading {
  padding-right: 5rem;
}

.smart-logo {
  height: 50px;
  width: 50px;
  background-color: #FFECEF;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: .8rem;
}

/* ===================================
designed section
==================================== */
.designed-section {
  padding-bottom: 100px;
}

.designed-bg img {
  position: relative;
  bottom: 0;
  left: -80px;
  width: 100%;
}

/* ===================================
app section
==================================== */
.app-section {
  margin: 100px 0;
}

/* ===================================
ultimate feature section
==================================== */
.ultimate-feature {
  position: relative;
}

.single-app-content {
  z-index: 5;
}

.ultimate-bg {
  background-image: url(../img/ultimate-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 35%;
  position: absolute;
  right: 0;
  top: 55px;
  content: "";
  z-index: -1;
}

.ultimate-bg-staff {
  position: relative;
  height: 100%;
}

.ultimate-bg-staff:before {
  position: absolute;
  bottom: 10px;
  left: 0;
  background-image: url(../img/ultimate.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 80%;
  width: 80%;
  content: "";
  transform: translateX(-150px);

}

.ultimate-bg-staff::after {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(../img/feature-2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 90%;
  width: 100%;
  content: "";
  transform: rotate(25deg);

}

/* ===================================
pricing section
==================================== */
.pricing-section {
  padding: 100px 0;
}

.pricing-header {
  background-color: #F4F7F9;
}

.price span {
  font-size: 46px;
  font-weight: 600;
  color: var(--var-navyblue);
}

.pricing-header h5 {
  font-weight: 700;
}

.pricing-body p {
  margin-bottom: .5rem;
}

.underline:hover {
  text-decoration: underline;
}

/* ===================================
faq section
==================================== */
.accordion-button {
  background: #F5F7FA;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button::after {
  background-image: url(../img/logo/minus.png);
  position: relative;
  top: 10px;
  transition: .2s;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../img/logo/plus.png);
  transform: rotate(180deg);
  position: relative;
  top: 0px;
  transition: .3s;
}

.accordion-item {
  margin-bottom: .5rem;
  border: none;
}


/* ===================================
download section
==================================== */
.download-section {
  padding: 60px 0;
  position: relative;
}

.download-bg {
  position: absolute;
  background-color: #ffffff;
  background-image: url(../img/d-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow-y: visible;
}

.apps-store img {
  max-width: 150px;
}

/* ===================================
footer section
==================================== */
.footer {
  background-color: var(--var-navyblue-1);
  padding: 70px 0;
}

.footer-content .navbar-brand {
  color: var(--var-white);
}

.footer-content ul li a {
  text-decoration: none;
  padding: .5rem 1rem;
  color: var(--var-white);

}