/* ================
fonts
==================*/
@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(../fonts/Poppins-Regular.ttf) format(truetype);
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(../fonts/Poppins-Medium.ttf) format(truetype);
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(../fonts/Poppins-SemiBold.ttf) format(truetype);
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(../fonts/Poppins-Bold.ttf) format(truetype);
  font-weight: 700;
}

/* =========================================================
========================================================== */


/* ===================================
base styles
==================================== */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

:root {
  --var-white: #ffffff;
  --var-black: #616368;
  --var-navyblue: #242f51;
  --var-navyblue-1: #09142e;
  --var-violet: #2500f9;
  --var-blue: #2563ff;
  --var-green: #40975f;
  --var-red: #f55767;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

h3 {
  color: var(--var-navyblue);
  font-weight: 600;
}

p {
  color: var(--var-black);
  margin: 0;
}

/* ===================================
header
==================================== */
.navbar-brand,
.navbar-brand span {
  font-size: 30px;
  font-weight: bold;
}

.nav-item {}

.nav-link {
  font-size: 16px;
  color: var(--var-navyblue);
}


.explore-btn {
  background-color: var(--var-violet);
  font-size: 16px;
  color: var(--var-white);
  border-radius: 50px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.explore-btn:hover {
  background-color: var(--var-violet);
  color: #f0eded;

}

/* ===================================
hero section
==================================== */
.hero-bg {
  background: var(--var-white);
  background-image: url(../img/hero-bg.png);
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.hero-img img {
  max-height: 700px;
}

.hero-badge {
  text-decoration: none;
  background-color: #E2EAED;
  color: var(--var-navyblue);
  padding: .4rem 1.5rem .4rem 0;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: .5rem;
  display: inline-block;
}

.hero-title {
  font-size: 60px;
  font-weight: 600;
}

.hero-btn-grp a:last-of-type {
  color: var(--var-blue);
}

/* ===================================
companies section
==================================== */
.companies-logo a img {
  width: 100%;
  padding: 0 1rem;
}

/* ===================================
feature section
==================================== */
.feature-img img {
  width: 100%;
  max-height: 770px;
}